*{
    margin: 0;
    padding: 0;
}

.my_section{
width: ;
display: ;
padding: 20px;

}

.my_section_details{
    width: ;
    background-color: #94c7df;
    display: inline;

}
.my_section_details h2{

}
.my_section_details h5{

}

.my_section_details q{

}


.my_section_photo{
    width: ;
    background-color: #2194c9;
    display: inline;


}

.my_section_photo img{

}




